.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 5px;
    width: 960px; /* Set this to your desired width */
}

.container div {
    width: calc((960px - (3 * 5px)) / 4);
    height: calc((960px - (3 * 5px)) / 4);
}

.square {
    background-color: #4CAF50;
    
}

.squarehoover {
    background-color: blueviolet;
    
}

.button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
